.container{
    padding: 1%;
    height: 10%;
    width: 10%;
    overflow: hidden;
    margin-left: 5%;
}

.carousel-img{
    width: auto;
    height: 100%;
    object-fit: contain;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgb(219, 216, 216);
}
  
