.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    background-color: rgba(250, 243, 243, 0.438);
    border-bottom: 1px solid rgb(100, 98, 98);
    border-top: 1px solid rgb(185, 126, 126);
}

.header_logo {
    object-fit: contain;
    height: 90px;
    margin: 0% 6% 0px 2%;
}

.header_cover{
    object-fit: contain;
    height: 120px;
}

.header_icon {
    padding: 20px;
}

.img{
    padding:2px;
    width:800px;
    background-size: 100%;
    background-repeat:no-repeat;
    
}

.div{
    height: 100px;
    overflow: hidden;
}


  