*{
	margin: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	flex-direction: column;
	margin: 0px 0px;
}

.container{
	flex: 1 0 auto;
}

.row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  
}

.column-1{
	flex: 0 0 12.5%;
	max-width: 12.5%;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
